:root {
  /*background*/
  --c-white: #fff;
  --c-blue: #2196f3;
  --c-light: #eeeeee;
  --c-dark: #212121;
  --c-dark-blue: #2f303a;
  --c-light-grey: #e5e5e5;
  --c-grey: #f5f4fa;
  --btn: #188ce8;
  --c-social: #afb1b8;
  /*font*/
  --main-font: 'Raleway', sans-serif;
  /* text*/
  --txt-accent: #757575;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  color: var(--c-dark);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn:hover, .btn:focus {
  background-color: var(--btn);
  color: var(--c-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-property: fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.menu-btn {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu-btn:hover .menu-btn__icon,
.menu-btn:focus .menu-btn__icon {
  fill: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu__container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 2;
}

.menu__item {
  margin-bottom: 32px;
}

.menu__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--c-dark);
}

.menu__link:hover, .menu__link:focus {
  color: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.menu-contact__list {
  margin-top: 270px;
  margin-bottom: 64px;
}

.menu-contact__item {
  margin-bottom: 32px;
}

.menu-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-contact__link:hover, .menu-contact__link:focus {
  color: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.menu-contact .tel {
  color: var(--c-blue);
}

.menu-social__list {
  display: flex;
  flex-wrap: wrap;
}

.menu-social__item:not(:last-child):after {
  content: "";
  width: 1px;
  display: inline-block;
  height: 14px;
  background-color: var(--c-social);
  margin-right: 10px;
  margin-left: 10px;
}

.menu-social__link {
  color: var(--c-blue);
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--c-white);
}

.menu {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 25px;
  z-index: 1;
}

.menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu__btn-close:hover .menu__btn-close--icon,
.menu__btn-close:focus .menu__btn-close--icon {
  fill: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.social__list {
  display: flex;
}

.social__link {
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.social__link:hover, .social__link:focus {
  background-color: var(--c-blue);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  height: 20px;
  width: 20px;
  fill: var(--c-social);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--c-white);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
  overflow-y: scroll;
}

.modal {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px;
  background-color: var(--c-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal__btn-close:focus .modal-btn-icon-close,
.modal__btn-close:hover .modal-btn-icon-close {
  fill: var(--c-blue);
}

.modal__icon {
  width: 30px;
  height: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--c-dark);
  margin-bottom: 12px;
}

.modal-form__label {
  margin-bottom: 10px;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
  padding-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--c-blue);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  width: 18px;
  height: 18px;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--c-blue);
}

.modal-form__message {
  height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--c-blue);
}

.modal-form__checkbox-contract {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--txt-accent);
  margin-bottom: 30px;
}

.modal-form__checkbox-contract::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 16px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #212121;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox-contract::before {
    margin-left: 10px;
  }
}

.modal-form__checkbox:checked + .modal-form__checkbox-contract::before {
  content: '';
  background-image: url("../images/sprite/icon-check.svg");
  height: 15px;
  width: 16px;
  background-size: contain;
  background-position: center;
  border-color: none;
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox-contract {
    font-size: 14px;
    line-height: 1.71;
  }
}

.contract-link {
  text-decoration: underline;
  color: var(--c-blue);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .contract-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--c-blue);
  color: var(--c-white);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  align-self: center;
}

.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--c-blue);
  margin-bottom: 20px;
  display: flex;
}

.footer__logo--web {
  color: var(--txt-c-white);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link:hover, .footer__link:focus {
  color: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.addres {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--c-white);
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .footer__addres {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__addres {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-social__list {
  display: flex;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--c-blue);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.footer-social__icon {
  display: inline-flexbox;
  height: 20px;
  width: 20px;
  fill: var(--c-white);
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-white);
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-social__container {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social__container {
    margin-left: 70px;
  }
}

.footer-form {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    display: flex;
    flex-direction: column;
  }
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-white);
  margin-bottom: 20px;
}

.footer-form__input {
  align-self: center;
  outline: none;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--c-dark-blue);
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__input {
    width: 450px;
  }
}

.footer-form__btn {
  border: none;
  width: 200px;
  height: 50px;
  background-color: var(--c-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--c-white);
  cursor: pointer;
}

.footer-form__btn--icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.footer-form__container {
  text-align: center;
  align-items: center;
}

.footer-form__input {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__container {
    display: flex;
    margin-left: 93px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}

.header__container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}

.logo-link {
  display: inline-flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--c-blue);
  margin-right: 88px;
}

.logo-web {
  color: var(--c-dark);
}

.nav__container {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__container {
    display: flex;
    align-items: center;
  }
}

.nav__list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav__list {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list {
    margin-right: 305px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

.nav__link {
  color: var(--c-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 49px;
}

.nav__link:hover, .nav__link:focus {
  color: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.nav__link.nav__link--current {
  color: var(--c-blue);
  position: relative;
  padding: 4px 0;
}

.nav__link.nav__link--current::after {
  content: '';
  display: flex;
  color: currentColor;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--c-blue);
  position: absolute;
  left: 0;
  bottom: -28px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    display: inline-flex;
    align-items: center;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__link {
  color: var(--txt-accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
}

.contact__link:hover, .contact__link:focus {
  color: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.contact__link--icon {
  fill: currentColor;
  margin-right: 10px;
}

.icon_envelope {
  width: 16px;
  height: 12px;
}

.icon_smartphone {
  width: 10px;
  height: 16px;
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-link {
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--c-blue);
    margin-right: 93px;
  }
}

.hero {
  background-color: var(--c-dark-blue);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/bg-img-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 118px 60px;
  max-width: 1600px;
  margin: auto;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--c-blue);
  color: var(--c-white);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--c-white);
  margin-bottom: 30px;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/bg-img-mobile2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/bg-img-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/bg-img-tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/img-desktop.jpg);
  }
  .hero__title {
    font-size: 42px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/img-desktop2x.jpg);
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .feature__list {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.feature__item {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.feature__thumb {
  height: 120px;
  display: inline-flex;
  justify-content: center;
  padding: 25px 190px;
  margin-bottom: 30px;
  background-color: var(--c-grey);
}

@media screen and (min-width: 768px) {
  .feature__thumb {
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__thumb {
    padding: 25px 100px;
  }
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-accent);
}

@media screen and (max-width: 1199px) {
  .specification {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .specification__container {
    padding-bottom: 94px;
  }
  .specification__list {
    display: flex;
    justify-content: center;
  }
  .specification__item {
    position: relative;
  }
  .specification__item:not(:last-child) {
    margin-right: 30px;
  }
  .specification__text-container {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .specification__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--c-white);
  }
}

.team {
  background-color: var(--c-grey);
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}

.team__item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 4px;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__box {
  box-sizing: border-box;
  padding: 30px 122px 24px 122px;
  background-color: var(--c-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .team__box {
    padding-right: 74px;
    padding-left: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding: 30px 32px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--txt-accent);
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .team__item {
    margin-left: 30px;
    margin-top: 30px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.client__item {
  align-items: center;
  border: 1px solid var(--c-social);
  border-radius: 4px;
  width: calc((100% - 60px) /2);
  margin-top: 30px;
  margin-left: 30px;
}

.client__item:hover, .client__item:focus {
  border: 1px solid var(--c-blue);
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    width: calc((100% - 90px) /3);
  }
}

.client__link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 92px;
  padding: 16px 52px;
}

.client__icon {
  fill: var(--c-social);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

@media screen and (min-width: 1200px) {
  .client__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client__list {
    display: flex;
    justify-content: center;
  }
  .client__item {
    align-items: center;
    border: 1px solid var(--c-social);
    border-radius: 4px;
    width: 170px;
  }
  .client__item:hover, .client__item:focus {
    border: 1px solid var(--c-blue);
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
  .client__link {
    display: inline-flex;
    width: 100%;
    height: 92px;
    padding: 16px 32px;
  }
  .client__icon {
    fill: var(--c-social);
  }
  .client__link:hover .client__icon,
  .client__link:focus .client__icon {
    fill: var(--c-blue);
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
}

.footer {
  margin: 0 auto;
  background-color: var(--c-dark-blue);
}

.footer__container {
  padding-bottom: 60px;
  padding-top: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:not(:last-child):nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
  }
  .filter__item {
    display: flex;
  }
}

.filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--c-grey);
  padding: 6px 22px;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .project__list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .project__list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.project__item {
  border-bottom: 1px solid var(--c-light);
  border-left: 1px solid var(--c-light);
  border-right: 1px solid var(--c-light);
  width: 450px;
}

.project__item:hover, .project__item:focus {
  background-color: var(--c-white);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .project__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    margin-left: 30px;
    margin-top: 30px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    width: calc((100% - 90px) / 3);
  }
}

.project__card {
  padding: 20px 24px;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--c-dark);
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--txt-accent);
}

.project__link {
  display: block;
}

.project__img {
  position: relative;
  overflow: hidden;
}

.project__text-overlay {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--c-white);
  background-color: var(--c-blue);
  width: 450px;
  height: 294px;
  transform: translateY(100%);
  padding: 63px 24px;
  overflow: auto;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.project__item:hover .project__text-overlay,
.project__item:focus .project__text-overlay {
  transform: translateY(-100%);
  opacity: 0.9;
}

.main__container {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*# sourceMappingURL=main.css.map */