:root {
  /*background*/
  --c-white: #fff;
  --c-blue: #2196f3;
  --c-light: #eeeeee;
  --c-dark: #212121;
  --c-dark-blue: #2f303a;
  --c-light-grey: #e5e5e5;
  --c-grey: #f5f4fa;
  --btn: #188ce8;
  --c-social: #afb1b8;
  /*font*/
  --main-font: 'Raleway', sans-serif;
  /* text*/
  --txt-accent: #757575;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  color: var(--c-dark);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn:hover, .btn:focus {
  background-color: var(--btn);
  color: var(--c-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-property: fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.menu-btn {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu-btn:hover .menu-btn__icon,
.menu-btn:focus .menu-btn__icon {
  fill: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-nav-list__item {
  margin-bottom: 32px;
}

.menu-nav-list__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--c-dark);
}

.menu-nav-list__link:hover, .menu-nav-list__link:focus {
  color: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.menu-contact-list {
  margin-top: 270px;
  margin-bottom: 64px;
}

.menu-contact-list__item {
  margin-bottom: 32px;
}

.menu-contact-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-contact-list__link:hover, .menu-contact-list__link:focus {
  color: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.menu-contact-list .tel {
  color: var(--c-blue);
}

.menu-social {
  display: flex;
}

.menu-social__item:not(:last-child):after {
  content: "";
  width: 1px;
  display: inline-block;
  height: 14px;
  background-color: var(--c-social);
  margin-right: 10px;
  margin-left: 10px;
}

.menu-social__link {
  color: var(--c-blue);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--c-white);
}

.mobile-menu {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 25px;
  z-index: 101;
}

.menu-btn__close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu-btn__close:hover .menu-btn__icon-close,
.menu-btn__close:focus .menu-btn__icon-close {
  fill: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

@media screen and (min-width: 768px) {
  .menu-btn,
  .menu-container {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.social-list {
  display: flex;
}

.social-list-item-link {
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.social-list-item-link:hover, .social-list-item-link:focus {
  background-color: var(--c-blue);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link-icon {
  height: 20px;
  width: 20px;
  fill: var(--c-social);
}

.social-list-item-link:hover .social-list-item-link-icon,
.social-list-item-link:focus .social-list-item-link-icon {
  fill: var(--c-white);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--c-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-btn-close:focus .modal-btn-icon-close,
.modal-btn-close:hover .modal-btn-icon-close {
  fill: var(--c-blue);
}

.modal-btn-icon-close {
  width: 30px;
  height: 30px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--c-dark);
  margin-bottom: 12px;
}

.modal-form-label {
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  padding-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--c-blue);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  width: 18px;
  height: 18px;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--c-blue);
}

.modal-form-message {
  height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--c-blue);
}

.modal-form-checkbox-contract {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-accent);
  margin-bottom: 30px;
}

.modal-form-checkbox-contract::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 16px;
  margin-left: 10px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #212121;
  margin-right: 8px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-contract::before {
  content: '';
  background-image: url("../images/sprite/icon-check.svg");
  height: 15px;
  width: 16px;
  background-size: contain;
  background-position: center;
  border-color: none;
}

.contract-link {
  text-decoration: underline;
  color: var(--c-blue);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--c-blue);
  color: var(--c-white);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  align-self: center;
}

.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--c-blue);
  margin-bottom: 20px;
  display: flex;
}

.footer-web {
  color: var(--txt-c-white);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-item-link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-item-link:hover, .footer-list-item-link:focus {
  color: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.addres {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--c-white);
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .container-addres-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-addres-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo-link {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-social-list {
  display: flex;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-item-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
}

.footer-social-list-item-link:hover, .footer-social-list-item-link:focus {
  background-color: var(--c-blue);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.footer-social-list-item-link-icon {
  display: inline-flexbox;
  height: 20px;
  width: 20px;
  fill: var(--c-white);
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-white);
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .container-footer-social {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer-social {
    margin-left: 70px;
  }
}

.footer-form {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    display: flex;
    flex-direction: column;
  }
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-white);
  margin-bottom: 20px;
}

.footer-form-input {
  align-self: center;
  outline: none;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--c-dark-blue);
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form-input {
    width: 450px;
  }
}

.footer-form-btn {
  border: none;
  width: 200px;
  height: 50px;
  background-color: var(--c-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--c-white);
  cursor: pointer;
}

.footer-form-btn-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.footer-form-container {
  text-align: center;
  align-items: center;
}

.footer-form-input {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form-container {
    display: flex;
    margin-left: 93px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}

.container-header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: inline-flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--c-blue);
  margin-right: 88px;
}

.logo-web {
  color: var(--c-dark);
}

.container-navcont {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav-list {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-right: 305px;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 30px;
}

.nav-list__link {
  color: var(--c-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 49px;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.nav-list__link.current {
  color: var(--c-blue);
  position: relative;
  padding: 4px 0;
}

.nav-list__link.current::after {
  content: '';
  display: flex;
  color: currentColor;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--c-blue);
  position: absolute;
  left: 0;
  bottom: -28px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: inline-flex;
    align-items: center;
  }
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list__link {
  color: var(--txt-accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.contact-list__link_icon {
  fill: currentColor;
  margin-right: 10px;
}

.icon_envelope {
  width: 16px;
  height: 12px;
}

.icon_smartphone {
  width: 10px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .container-navcont {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-link {
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--c-blue);
    margin-right: 93px;
  }
}

.header-page {
  background-color: var(--c-dark-blue);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 118px 60px;
  max-width: 1600px;
  margin: auto;
}

.header-page-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--c-blue);
  color: var(--c-white);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header-page-text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--c-white);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .header-page {
    background-color: var(--c-dark-blue);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
  .header-page-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--c-blue);
    color: var(--c-white);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .header-page-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--c-white);
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container-features {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .feature-list-item {
    min-width: 320px;
    box-sizing: border-box;
  }
  .feature-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .feature-list-item-icon {
    height: 120px;
    width: 100%;
    display: inline-flex;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--c-grey);
  }
  .feature-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .feature-subtitle-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-accent);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .feature-list-item {
    min-width: 320px;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 2);
  }
  .feature-list-item-icon {
    height: 120px;
    width: 354px;
    display: inline-flex;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--c-grey);
  }
  .feature-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .feature-subtitle-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-accent);
  }
}

@media screen and (min-width: 1200px) {
  .container-features {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .feature-list {
    display: inline-flex;
  }
  .feature-list-item {
    width: 270px;
    box-sizing: border-box;
  }
  .feature-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .feature-list-item-icon {
    height: 120px;
    width: 270px;
    display: inline-flex;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--c-grey);
  }
  .feature-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .feature-subtitle-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-accent);
  }
}

@media screen and (max-width: 1199px) {
  .specification {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container-specification {
    padding-bottom: 94px;
  }
  .specification-list {
    display: flex;
    justify-content: center;
  }
  .specification-list-item {
    position: relative;
  }
  .specification-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .specification-list-item-img-container {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .specification-list-item-img-container-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--c-white);
  }
}

.team {
  background-color: var(--c-grey);
}

.team-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-list__item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 4px;
  width: 100%;
}

.team-list__item__card {
  box-sizing: border-box;
  padding: 30px 122px 24px 122px;
  background-color: var(--c-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item__card {
    padding-right: 74px;
    padding-left: 74px;
  }
}

.team-list__item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list__item__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--txt-accent);
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team-list__item__img {
    min-width: 450px;
    min-height: 460px;
  }
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .team-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 2);
  }
  .team-list__item__img {
    min-width: 354px;
    min-height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    background-color: var(--c-grey);
    margin: 0 auto;
  }
  .team-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list {
    display: flex;
    justify-content: center;
  }
  .team-list__item {
    width: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 4px;
  }
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .team-list__item__card {
    padding: 30px 32px;
  }
}

.client-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.client-list-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--c-social);
  border-radius: 4px;
  height: 92px;
  width: calc((100% - 60px) /2);
  margin-bottom: 30px;
  margin-right: 30px;
}

.client-list-item:hover, .client-list-item:focus {
  border: 1px solid var(--c-blue);
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list-item {
    width: calc((100% - 90px) /3);
  }
}

.client-list-item-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 92px;
  padding: 16px 52px;
}

.client-list-item-link-icon {
  fill: var(--c-social);
}

.client-list-item-link:hover .client-list-item-link-icon,
.client-list-item-link:focus .client-list-item-link-icon {
  fill: var(--c-blue);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

@media screen and (min-width: 1200px) {
  .client-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client-list {
    display: flex;
    justify-content: center;
  }
  .client-list-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--c-social);
    border-radius: 4px;
    width: 170px;
  }
  .client-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .client-list-item:hover, .client-list-item:focus {
    border: 1px solid var(--c-blue);
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
  .client-list-item-link {
    display: inline-flex;
    width: 100%;
    height: 92px;
    padding: 16px 32px;
  }
  .client-list-item-link-icon {
    fill: var(--c-social);
  }
  .client-list-item-link:hover .client-list-item-link-icon,
  .client-list-item-link:focus .client-list-item-link-icon {
    fill: var(--c-blue);
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
}

.footer {
  margin: 0 auto;
  background-color: var(--c-dark-blue);
}

.container-footer {
  padding-bottom: 60px;
  padding-top: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .container-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
    align-items: baseline;
  }
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-list__item:not(:last-child):nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
  }
  .filter-list__item {
    display: flex;
  }
}

.filter-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--c-grey);
  padding: 6px 22px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .project-list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .project-list {
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.project-list-item {
  border-bottom: 1px solid var(--c-light);
  border-left: 1px solid var(--c-light);
  border-right: 1px solid var(--c-light);
}

.project-list-item:hover, .project-list-item:focus {
  background-color: var(--c-white);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .project-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .project-list-item {
    width: calc((100% - 90px) / 3);
  }
}

.container-card {
  padding: 20px 24px;
}

.project-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--c-dark);
}

.project-list-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--txt-accent);
}

.project-list-item-link {
  display: block;
}

.project-list-item-container-img {
  position: relative;
  overflow: hidden;
}

.project-list-text-overlay {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--c-white);
  background-color: var(--c-blue);
  width: 370px;
  height: 294px;
  transform: translateY(100%);
  padding: 63px 24px;
  overflow: auto;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.project-list-item:hover .project-list-text-overlay,
.project-list-item:focus .project-list-text-overlay {
  transform: translateY(-100%);
  opacity: 0.9;
}

.container-main {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*# sourceMappingURL=main.css.map */