.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  &__item:not(:last-child) {
    margin-right: 8px;

    @media screen and(max-width:767px) {
      &:nth-child(-n+3) {
        margin-bottom: 15px;
      }
    }

  }

}

@media screen and(min-width:768px) {


  .filter-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;

    &__item {
      display: flex;
    }


  }
}

.filter-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--c-grey);
  padding: 6px 22px;
}