.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .backdrop {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
  }