.footer-social__list {
  display: flex;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: var(--c-blue);
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
  }
}

.footer-social__icon {
  display: inline-flexbox;
  height: 20px;
  width: 20px;
  fill: var(--c-white);
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-white);
  margin-bottom: 20px;
}

@media screen and(max-width:767px) {
  .footer-social__container{
    text-align: center;
    margin-bottom: 60px;
  }
}

// TABLET

// DESkTOP
@media screen and(min-width:1200px) {
  .footer-social__container {
    margin-left: 70px;
  }
}