




.menu-btn {
    display: block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;

        &:hover .menu-btn__icon,
        &:focus .menu-btn__icon {
            fill: var(--c-blue);
            transition-property: fill, color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0ms;
        }
    }