.menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 2;

}

.menu-nav-list {
    &__item {
        margin-bottom: 32px;
    }

    &__link {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--c-dark);

        &:hover,
        &:focus {
            color: var(--c-blue);
            transition-property: fill, color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0ms;
        }
    }


}

.menu-contact-list {
    margin-top: 270px;
    margin-bottom: 64px;

    &__item {
        margin-bottom: 32px;

    }

    &__link {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.66;
        letter-spacing: 0.02em;
        color: #757575;

        &:hover,
        &:focus {
            color: var(--c-blue);
            transition-property: fill, color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0ms;
        }
    }

    & .tel {
        color: var(--c-blue);
    }
}

.menu-social {
    display: flex;


    &__item:not(:last-child):after {
        content: "";
        width: 1px;
        display: inline-block;
        height: 14px;
        background-color: var(--c-social);
        margin-right: 10px;
        margin-left: 10px;
    }

    &__link {
        color: var(--c-blue);
    }
}


.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--c-white);

    // @media screen and (min-width: 768px) {
    //     display: none;
    // }
}

.mobile-menu {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
    z-index: 1;
}

.menu-btn__close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover .menu-btn__icon-close,
    &:focus .menu-btn__icon-close {
        fill: var(--c-blue);
        transition-property: fill, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
    }
}