:root {
    /*background*/
    --c-white: #fff;
    --c-blue: #2196f3;
    --c-light: #eeeeee;
    --c-dark: #212121;
    --c-dark-blue: #2f303a;
    --c-light-grey: #e5e5e5;
    --c-grey: #f5f4fa;
    --btn: #188ce8;
    --c-social: #afb1b8;
    /*font*/  
    --main-font: 'Raleway', sans-serif;  
    /* text*/  
    --txt-accent: #757575;
}