  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .feature__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and(min-width:768px) {
      margin-top: -30px;
      margin-left: -30px;
    }
  } 
  .feature__item {
    width: 450px;

    @media screen and(min-width:768px) {
      width: 354px;
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc((100% - 60px) / 2);
    }
    @media screen and(min-width: 1200px) {
      width: 270px;
      flex-basis: calc((100% - 120px) / 4);
    }
  }

  .feature__thumb {
   
    height: 120px;
    display: inline-flex;
    justify-content: center;
    padding: 25px 190px;
    margin-bottom: 30px;
    background-color: var(--c-grey);

    @media screen and (min-width: 768px) {
     padding: 25px 142px;
    }
     @media screen and(min-width: 1200px) {
      padding: 25px 100px;
    }
  }

  .feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .feature__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-accent);
  }

  // @media screen and(min-width:768px) {


  //   .feature-list {
  //     display: flex;
  //     flex-wrap: wrap;
  //     margin-right: -30px;
  //     margin-bottom: -30px;
  //   }

  //   .feature-list__item {
  //     min-width: 320px;
  //     box-sizing: border-box;
  //     margin-right: 30px;
  //     margin-bottom: 30px;
  //     width: calc((100% - 60px) / 2);
  //   }

  //   .feature-list__item_icon {
  //     height: 120px;
  //     width: 354px;
  //     display: inline-flex;
  //     padding: 25px 100px;
  //     margin-bottom: 30px;
  //     background-color: var(--c-grey);
  //   }

  //   .feature-subtitle {
  //     font-weight: 700;
  //     font-size: 14px;
  //     line-height: 1.14;
  //     letter-spacing: 0.03em;
  //     text-transform: uppercase;
  //     margin-bottom: 10px;
  //   }

  //   .feature-text {
  //     font-size: 14px;
  //     line-height: 1.71;
  //     letter-spacing: 0.03em;
  //     color: var(--txt-accent);
  //   }

  // }

  // // DESkTOP
  // @media screen and (min-width: 1200px) {
  //   .container-features {
  //     display: flex;
  //     justify-content: center;
  //     padding-top: 94px;
  //     padding-bottom: 94px;
  //   }

  //   .feature-list {
  //     display: inline-flex;
  //   }

  //   .feature-list__item {
  //     width: 270px;
  //     box-sizing: border-box;

  //     &:not(:last-child) {
  //       margin-right: 30px;
  //     }
  //   }

  //   .feature-list__item_icon {
  //     height: 120px;
  //     width: 270px;
  //     display: inline-flex;
  //     padding: 25px 100px;
  //     margin-bottom: 30px;
  //     background-color: var(--c-grey);
  //   }

  //   .feature-subtitle {
  //     font-weight: 700;
  //     font-size: 14px;
  //     line-height: 1.14;
  //     letter-spacing: 0.03em;
  //     text-transform: uppercase;
  //     margin-bottom: 10px;
  //   }

  //   .feature-text {
  //     font-size: 14px;
  //     line-height: 1.71;
  //     letter-spacing: 0.03em;
  //     color: var(--txt-accent);
  //   }
  // }