.footer {
    margin: 0 auto;
    background-color: var(--c-dark-blue);
}

.footer__container {
    padding-bottom: 60px;
    padding-top: 60px;
    box-sizing: border-box;
}

// MOBILE
@media screen and(max-width: 767px) {
    .footer__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

// TABLeT
@media screen and(min-width:768px) {
    .footer__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

// DESkTOP
@media screen and (min-width: 1200px) {
    .footer__container {
        display: flex;
        align-items: baseline;
    }
}