.header-page-container {
    background-color: var(--c-dark-blue);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 118px 60px;
    max-width: 1600px;
  }
  .header-page-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--c-blue);
    color: var(--c-white);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .header-page-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--c-white);
    margin-bottom: 30px;
  }
//  TABLET


// DESCTOP
@media screen and (min-width: 1200px) {
  .header-page-container {
    background-color: var(--c-dark-blue);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
  .header-page-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--c-blue);
    color: var(--c-white);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .header-page-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--c-white);
    margin-bottom: 30px;
  }
}