@media screen and(max-width:1199px) {
  .specification {
    display: none;
  }
}

// TABLET


// DESCTOP
@media screen and(min-width: 1200px) {
  .specification__container {
    padding-bottom: 94px;
  }

  .specification__list {
    display: flex;
    justify-content: center;
  }

  .specification__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .specification__text-container {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
  }

  .specification__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--c-white);
  }
}